# Ignore the .idea directory
.idea/
*
!.gitignore
!LICENSE.odt
!README.md
!How_to_download_from_github.jpg
!pyproject.toml
!poetry.lock
!/tests/
!/src/
!/src/RenameFiles/
!/src/RenameFiles/__main__.py
!/src/RenameFiles/core/
