# Ignore the .idea directory
.idea/
*
!.gitignore
!LICENSE.odt
!README.md
!README_TO_CREATE_A_USER_INTERFACE.md
!README_TO_USE_AND_CREATE_PYTHON_PACKAGES_EASILY.md
!README_TO_CREATE_AN_INSTALLABLE_EXECUTABLE.md
!How_to_download_from_github.jpg
!pyproject.toml
!poetry.lock
!/tests/
!/src/
!/src/RenameFiles/
!/src/RenameFiles/__main__.py
!/src/RenameFiles/core/
